/*====== Variables ======*/
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
}


/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}

body {
  font-weight: 300;
  background-color: #c9ece7;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: solid;
  color:#03264C;
  font-family: 'Poppins', sans-serif;
}

.products-title{
  font-family: 'Montserrat', sans-serif;
}

.product-detail-description, .comment, .footer-data h2, .footer-data p, .search-form_input, .buy-now-button, .form-input, .right-navbar, .textForm, .inpForm, .main-title, .emailProfile, .info-gen li, .btnForm, .credits {
  font-family: 'IBM Plex Sans', sans-serif;
}

.main-header a, .main-header p{
  color: #edf7f6;
}

figure {
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

.banner img{
  width: 100%;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}

/*====== Main Header ======*/
.main-header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  max-width: 100%;
  padding: 0px;
}

.main-header .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
  background-color: #7922f2;
  height: 100px;
}

.main-header .container .row .col-5 {
  flex: auto;
  max-width: 25%;
}

.main-header .container .row .col-12{
  flex: auto;
  max-width: 25%;
}

.main-header .container .row .col-md-6{
  flex: auto;
  width: 50%;
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
  text-align: center;
}

.main-header_home-link img{
  width: 60%;
}

.fotoPerfil{
  width: 60px;
  border-radius: 20px;
}

.main-header_credit-link {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-size: 1.8em;
  font-weight: bold;
}

.main-header_credit-link li{
  padding: 0px 2px 0px 2px;
}

.main-header_credit-link li a:hover{
  color: #cfd8d6;
}

element.style {
    display: flex;
    width: 50%;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form_input {
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 2px 32px 2px 4px;
  border-radius: 2px;
  font-size: 1.7em;
}

.search-form_button {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 5%;
  background-color: #032059;
  border: none; 
  color: white;
  cursor: pointer;
}

input:focus{
  outline: none !important;
  border: 3px solid #032059;
}


/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--dark-blue);
  color: whitesmoke;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.main-navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #032059;
  font-size: 1.5em;
  font-weight: bold;
}

.left-navbar {
  display: flex;
  width: 25%;
  justify-content: center;
}


#routesLogued{
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.logout{
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1em;
  color: #edf7f6;
  font-weight: bold;
}

.logout:hover{
  color: #dde9e7;
}

.left-navbar a,
.right-navbar a {
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--gray);
  font-size: 0.9em;
}

.right-navbar{
  font-weight: normal;
  width: 25%;
  text-align: center;
}

.itemLista{
  font-weight: bold;
}


/*====== Banner ======*/
.banner {
  width: 100%;
}


/*====== Products ======*/
.row{
  justify-content: center;
}

.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  width: 100%;
  font-size: 2.4em;
  font-weight: 400;
}

.product-box {
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  display: flex;
}

.product-box a {
  display: flex;
  flex-direction: column;
}

.product-box_image {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  padding: 30px;
  width: 250px;
  height: 250px;
}

.product-box_data {
  padding: 14px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0;
  
}

.product-box_data span {
  font-size: 1.0em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.4em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.noproducts {
  text-align: center
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 45px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}

/*====== Footer ======*/
.main-footer {
  background-color: white;
  margin-top: 80px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.main-footer .container{
  padding: 40px 0px;
}

.footer-data {
  text-align: center;
}

.footer-data i {
  color:#032059;
  font-size: 3.5em;
}

.footer-data h2 {
  color: black;
  font-size: 1.8em;
  font-weight: 400;
}

.footer-data p {
  color: black;
  font-size: 1.2em;
  font-weight: 300;
}

.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}

.credits{
  display: flex;
  background-color: #032059;
  color: #edf7f6;
  font-size: 1.2em;
  height: 60px;
  width: 100%;
  align-items: center;
}

.credits ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 40px;
}


/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-right: 1px solid var(--light-gray);
  padding: 15px;
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px 15px 15px 40px;
  font-size: 1.8em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}

.product-detail .form{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: #032ca6;
  font-size: 1.6em;
  color: #edf7f6;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 0px 0px 15px 0px;
}

.buy-now-button:hover{
  background-color: #032ca6d7;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}

.action-button.delete {
  background-color: rgb(248, 69, 37);
}

.comments {
  padding: 30px 15px 15px 0px;
}

.comments article{
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}

.comments img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comments .data{
  display: flex;
  flex-direction: column;
  width: 85%;
  
}

.comments p{
  font-size: 1.5em;
  margin-top: 0;
}

.comments .user{
  font-size: 1.7em;
  margin: 0px;
}

.product-ul-edit{
  width: 100%;
}

.product-boton-edit{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.boton-delete-product{
  width: auto;
}

#deleteBtn{
  background-color: rgb(209, 0, 0);
}

#title-detail{
  width: auto;
  margin-right: 10px;
}

.buy-now-button{
  margin: 0px 10px;
  text-align: center;
}

.boton-delete-product{
  margin: 0px;
}

/*====== Formularios ======*/
form {
  width: 100%;
}

.textForm {
  display: inline-block;
  font-size: 1.6em;
  margin: 10px 0;
  color: black;
}

.form-input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 8px;
  border: none;
  border: solid 1px var(--gray);
  padding: 0 15px;
}

.error{
  color: rgb(209, 0, 0);
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.inpForm {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btnForm {
  background-color: #032ca6;
  color: #edf7f6;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}

.btnForm:hover {
  background-color: #032ca6d7;
}

.imgcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 12px 0;
}

.imgcontainer input{
  margin: 20px 0px 10px 0px;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

/*====== ProductAdd ======*/
.products-titleAdd{  
  font-size: 2.4em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.divButton{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

#btnFormPA{
  width: 30%;
}

/*====== Profile ======*/
.img-container{
  display: flex;
  align-items: center;
}

.info-usuario{
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  font-size: 16px;
}

.foto-perfil{
  border-radius: 50%;
}

.main-title{
  font-size: 25px;
  margin-bottom: 10px;
}

.emailProfile{
  margin-top: 0px;
}

.bttnLogin{
  background-color: #032ca6;
  padding: 14px 20px;
  color: #edf7f6;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.bttnLogin:hover{
  background-color: #032ca6d7;
}

.nameProfileHeader{
  display: flex;
  justify-content: center;
}
.nameProfileHeader p{
  font-style: normal;
  margin: 0px;
}

.nameProfileHeader div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  flex-direction: column;
}

.nameProfileHeader ul{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#data-profile{
  padding-right: 0px;
}

/*====== Search-Results ======*/
#search-results{
  display: flex;
  flex-direction: column;
}
.producerName{
  font-size: 12px;
  text-align: center;
  padding: 5px 0px;
}
.producerName:hover{
  color: #dde9e7;
}
.notResult{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 45px;
}

/*====== Media-Queries ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: #dde9e7;
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 25px;
  }

  .main-footer {
    padding-top: 40px;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .main-header .container .row .col-5, .main-header .container .row .col-12 {
      max-width: none;
      height: 60px;
      text-align: center;
  }
  .main-header .container .row .col-md-6 {
    max-width: none;
  }
  .main-header_credit-link{
    justify-content: center;
  }
  .main-header a{
    color: #032059;
    text-align: center;
  }
  .btn-toggle-navbar{
    margin: 0px;
  }
  .search-form_button{
    width: 10%;
  }
  .main-navbar{
    width: 100vw;
    padding: 0px;
    justify-content: center;
    background-color: white;
  }
  .left-navbar, .right-navbar{
    padding: 0px;
    width: auto;
  }
  .main-footer .container .row{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  .main-header_credit-link, .main-navbar{
    margin: 40px 0px;
  }
  .product-box a{
    align-items: center;
  }
  .footer-data {
    width: 100vw;
  }
  #routesLogued {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
    align-items: baseline;
  } 
  .logout{
    color: #032059;
  }
  .titles{
    margin: 0px 0px 0px 15px;
  }
  .offset-3 {
    display: contents;
  }
  .foto-perfil {
    width: 50%;
  }
}