<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='../public/stylesheets/app.css' />
  </head>
  <body>
    <%- include('./partials/headerLogueado') %>
    <p><%= welcome %> </p> 
  </body>
</html>
