<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerDesLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
		</div>
	</div>		<!-- Show the "ultimos" products -->
	<form method="post">
		<div class="imgcontainer">
			<img src="/images/users/default-image.png" alt="Avatar" class="avatar">
		</div>

		<div class="container">
			<label class="textForm" for="uname"><b>Email</b></label>
			<input class="inpForm" type="text" placeholder="Introduce un Email" name="uname" required>
			
			<label class="textForm" for="uname"><b>Nombre</b></label>
			<input class="inpForm" type="text" placeholder="Introduce un Nombre" name="uname" required>
		
			<label class="textForm" for="psw"><b>Contraseña</b></label>
			<input class="inpForm" type="password" placeholder="Introduce una Contraseña" name="psw" required>
		
			<button class="btnForm" type="submit">Login</button>
			<label class="textForm">
			<input type="checkbox" checked="checked" name="remember"> Recuerdame
			</label>
		</div>
	
	</form>


	<!-- footer -->
	<%- include('./partials7footer') %>
	<!-- /footer -->
</body>

</html>