<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 

	<!-- Novedades -->
	<div class="titles">
		<h2 class="products-title" id="titleLogin">Ingresar</h2>
	</div>		
	
	<!-- Show the "ultimos" products -->
	<form method="POST" action="login">
		<div class="container">
			<label class="textForm" for="uname"><b>Email</b></label>
			<input class="inpForm" id="email" type="email" placeholder="Introduce un Email" name="email" required>
		
			<label class="textForm" for="psw"><b>Contraseña</b></label>
			<input class="inpForm" id="password" type="password" placeholder="Introduce una Contraseña" name="password" required>
			
			<div class="input-container ic1 checkbox">
				<label for="remember">Recordarme</label>
				<input id="remember" class="input" type="checkbox" name="remember" /> 
			</div>
			
			<button class="bttnLogin" type="submit">LOGIN</button>
		</div>
	</form>
	<!-- Show the "ultimos" products -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>