<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDesLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
		</div>
	</div>		
	
	<!-- Show the "ultimos" products -->
	<form method="GET">
		

		<div class="container">
			<label class="textForm" for="uname"><b>Email</b></label>
			<input class="inpForm" type="text" placeholder="Introduce un Email" name="uname" required>
		
			<label class="textForm" for="psw"><b>Contraseña</b></label>
			<input class="inpForm" type="password" placeholder="Introduce una Contraseña" name="psw" required>
		
			<a href="/profile" ><button class="btnForm" type="button" onClick="alert('Bienvenido, <%- listaComentarios[2].userName %>!')" ><b>Login</b></button></a>
			<label class="textForm">
			<input type="checkbox" checked="checked" name="remember"> Recuerdame
			</label>
		</div>
	
	</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>