<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<!--<link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->
			<!-- Show the "ultimos" products -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Cargar nuevo producto</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<form method="GET">
						<div class="container">
							<label class="textForm" for="img"><b>Imagen del producto</b></label>
							<input class="inpForm" type="file" name="img" required>
							
							<label class="textForm" for="name"><b>Nombre del producto</b></label>
							<input class="inpForm" type="text" placeholder="Ingrese aqui el nombre" name="title" required>
						
							<label class="textForm" for="descripcion"><b>Descipcion del producto</b></label>
							<input class="inpForm" type="text" placeholder="Describa el producto que quiere cargar (opcional)" name="desc">

							<label class="textForm" for="date"><b>Fecha de carga</b></label>
							<input class="inpForm" type="date" placeholder="¿Que dia estas cargando este producto?" name="date" required>
						
							<button class="btnForm" type="submit"> Confirmar carga de producto </button>
						</div>
					
					</form>
					
				</div>	
			</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>