<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 

	<!-- ProductsAAniadir -->
	<div class="container">
		<h2 class="products-title">Cargar nuevo producto</h2>
		<form method="POST" action="/product/product-add" enctype="multipart/form-data">
			<label class="textForm" for="img"><b>Imagen del producto</b></label>
			<input class="inpForm" type="file" name="imgProduct" required>
			
			<label class="textForm" for="name"><b>Nombre del producto</b></label>
			<input class="inpForm" type="text" placeholder="Ingrese aqui el nombre" name="title" required>
		
			<label class="textForm" for="descripcion"><b>Descipcion del producto</b></label>
			<input class="inpForm" type="text" placeholder="Describa el producto que quiere cargar (opcional)" name="desc">
			
			<div class="divButton">
				<button id="btnFormPA" class="btnForm" type="submit"> CONFIRMAR CARGA DEL PRODUCTO </button>
			</div>
		</form>
	</div>
	<!-- ProductsAAniadir -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>