<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 

	<!-- profileEdit -->
	<div class="container">
		<h2 class="products-title">Editar mi perfil</h2>
		<form method="GET">
			<label class="textForm" for="uname"><b>Email</b></label>
			<input class="inpForm" type="text" placeholder="Email Establecido" name="uname" required>
			
			<label class="textForm" for="uname"><b>Nombre</b></label>
			<input class="inpForm" type="text" placeholder="Nombre Establecido" name="uname" required>
		
			<label class="textForm" for="psw"><b>Contraseña</b></label>
			<input class="inpForm" type="password" placeholder="Contraseña Establecida" name="psw" required>
		
			<a href="/user/profile"><button class="bttnLogin" type="button"> Confirmar Edición </button></a>	
		</form>
	</div>
	<!-- profileEdit -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>
</html>