<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerDesLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
			<form method="post">
				<div class="container">
					<label class="textForm" for="uname"><b>Email</b></label>
					<input class="inpForm" type="text" placeholder="Email" name="uname" required>
					
					<label class="textForm" for="uname"><b>Nombre</b></label>
					<input class="inpForm" type="text" placeholder="Nombre" name="uname" required>
				
					<label class="textForm" for="psw"><b>Contraseña</b></label>
					<input class="inpForm" type="password" placeholder="Contraseña" name="psw" required>
					
					<label class="textForm" for="psw"><b>Fecha de Nacimiento</b></label>
					<input class="inpForm" type="password" placeholder="Fecha de Nacimiento" name="psw" required>
					
					<label class="textForm" for="psw"><b>DNI</b></label>
					<input class="inpForm" type="password" placeholder="DNI" name="psw" required>
					
					<div class="imgcontainer">
						<p>Agregar Foto</p>
						<img src="/images/users/default-image.png" alt="Avatar" class="avatar">
					</div>

					<button class="btnForm" type="submit">Registrarse</button>
				</div>
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>