<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDesLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="titles">
		<h2 class="products-title">Registrate</h2>
	</div>
	
	<!-- Productos Encontrados -->
	<form method="GET">
		<div class="container">
			<label class="textForm" for="img"><b>Foto de perfil</b></label>
			<div class="imgcontainer">
					<img src="/images/users/default-image.png" alt="Avatar" class="avatar">
					<input type="file" name="img" required>
			</div>
			
			<label class="textForm" for="uname"><b>Email</b></label>
			<input class="inpForm" type="text" placeholder="Email" name="uname" required>
			
			<label class="textForm" for="uname"><b>Nombre</b></label>
			<input class="inpForm" type="text" placeholder="Nombre" name="uname" required>
		
			<label class="textForm" for="psw"><b>Contraseña</b></label>
			<input class="inpForm" type="password" placeholder="Contraseña" name="psw" required>
			
			<label class="textForm" for="date"><b>Fecha de nacimiento</b></label>
			<input class="inpForm" type="date" placeholder="Nacimiento" name="date" required>
			
			<label class="textForm" for="psw"><b>DNI</b></label>
			<input class="inpForm" type="password" placeholder="DNI" name="psw" required>
			
			<div class="divButton">
				<a href="/user/profile"><button class="btnForm" type="button">REGISTRARSE</button></a>
			</div>
		</div>
	</form>
	<!-- Productos Encontrados -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>